<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head-fragment"></head>
<body>
    <nav th:replace="fragments.html :: nav-fragment"></nav>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="max-height: 100%;">
                    <div class="card-header d-flex align-items-center">
                        <svg th:if="${#strings.isEmpty(post?.account?.profileImage)}" class="rounded border bg-light"
                             th:data-jdenticon-value="${post.account.nickname}" width="30" height="30"></svg>
                        <img th:if="${!#strings.isEmpty(post?.account?.profileImage)}" class="rounded border"
                             th:src="${post.account.profileImage}" width="30" height="30" />
                        <a th:href="@{|/profile/@${post.account.nickname}|}" role="dialog" >
                            <h4 class="mx-3" th:text="|@${post.account.nickname}|"></h4>
                        </a>
                        <small class="date-weekday-time text-muted ml-auto" th:text="${post.modifiedAt}">3 days ago</small>
                        <div class="mx-3" th:if="${post.isWriter(#authentication.principal)}">
                            <a class="btn btn-warning" th:href="@{|/post/${post.id}/edit|}">
                                게시글 수정
                            </a>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="col-md-8 border-right">
                            <div>
                                <div th:id="|postImageIndicator${post.id}|" class="carousel slide" data-ride="carousel" data-interval="0">
                                    <ol class="carousel-indicators" th:if="${!#strings.isEmpty(post?.postImage2)}">
                                        <li th:if="${!#strings.isEmpty(post?.postImage1)}" th:data-target="|#postImageIndicator${post.id}|" data-target="#postImageIndicator" data-slide-to="0" class="active"></li>
                                        <li th:if="${!#strings.isEmpty(post?.postImage2)}" th:data-target="|#postImageIndicator${post.id}|" data-target="#postImageIndicator" data-slide-to="1"></li>
                                        <li th:if="${!#strings.isEmpty(post?.postImage3)}" th:data-target="|#postImageIndicator${post.id}|" data-target="#postImageIndicator" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner" th:if="${!#strings.isEmpty(post?.postImage1)}">
                                        <div class="carousel-item active" >
                                            <img class="rounded border mx-auto d-block" th:src="${post.postImage1}" width="80%" height="80%" alt="" src=""/>
                                        </div>
                                        <div class="carousel-item" th:if="${!#strings.isEmpty(post?.postImage2)}">
                                            <img class="rounded border mx-auto d-block" th:src="${post.postImage2}" width="80%" height="80%" alt="" src=""/>
                                        </div>
                                        <div class="carousel-item" th:if="${!#strings.isEmpty(post?.postImage3)}">
                                            <img class="rounded border mx-auto d-block" th:src="${post.postImage3}" width="80%" height="80%" alt="" src=""/>
                                        </div>
                                    </div>
                                    <a th:if="${!#strings.isEmpty(post?.postImage2)}" class="carousel-control-prev" style="color: black; width: 7%; font-weight: bold;" th:href="|#postImageIndicator${post.id}|" href="#postImageIndicator" role="button" data-slide="prev">
                                        <span aria-hidden="true" style="font-size: 1.875rem;">
                                            <i class="bi bi-chevron-double-left"></i>
                                        </span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a th:if="${!#strings.isEmpty(post?.postImage2)}" class="carousel-control-next" style="color: black; width: 7%; font-weight: bold;" th:href="|#postImageIndicator${post.id}|" role="button" data-slide="next">
                                        <span aria-hidden="true" style="font-size: 1.875rem;">
                                            <i class="bi bi-chevron-double-right"></i>
                                        </span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <hr />
                            <div class="mt-3 bg-light">
                                <div th:if="${!#strings.isEmpty(post?.context)}" class="px-3">
                                    <pre class="text-justify" th:text="${post.context}" style="font-size: 1.125rem;"></pre>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="m-2 like-div" th:likecheck="${post.isLike(#authentication.principal)}">
                                <div th:id="|dislikeDiv${post.id}|">
                                    <a href="javascript:void(0);" style="cursor:pointer" class="post-like btn btn-danger btn-block" th:id="|dislike${post.id}|">
                                        <i class="fa fa-heart"></i> <span class="like-count" th:id="|dislikeCount${post.id}|" th:text="${post.likeCount}"></span>
                                    </a>
                                </div>
                                <div th:id="|likeDiv${post.id}|">
                                    <a href="javascript:void(0);" style="cursor:pointer" class="post-dislike btn btn-danger btn-block" th:id="|like${post.id}|">
                                        <i class="fa fa-heart-o"></i> <span class="like-count" th:id="|likeCount${post.id}|" th:text="${post.likeCount}"></span>
                                    </a>
                                </div>
                            </div>
                            <hr />
                            <div class="py-3">
                                <div>
                                    <form class="needs-validation" th:action="@{/post/comment}" method="post" action="#"
                                          th:object="${commentForm}"novalidate>
                                        <div class="form-group">
                                            <textarea id="comment" class="form-control" rows="4" th:field="*{comment}"
                                                      placeholder="댓글을 입력해 주세요." aria-describedby="commentHelp" maxlength="1000" required></textarea>
                                            <small id="commentHelp" class="form-text text-muted mt-2">
                                                건전한 인터넷 댓글 문화를 만들어 주세요. <br>
                                                1000자 제한이 있습니다.
                                            </small>
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">
                                                1000자 이내로 작성해 주세요.
                                            </small>
                                            <input type="hidden" th:field="*{postId}" th:value="${post.id}">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-success btn-block mt-2" style="border: none;" type="submit" aria-describedby="submitHelp">
                                                댓글 작성
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div style="overflow: auto; max-height: 75%;">
                                <div style="overflow: auto;">
                                    <div th:if="${#lists.isEmpty(commentList)}">
                                        <p>첫 댓글을 등록해 보세요!</p>
                                    </div>
                                    <div th:each="comment: ${commentList}" class="my-2">
                                        <div class="d-flex" style="width: 100%;" th:id="${comment.id}">
                                            <div>
                                                <a th:href="@{|/profile/@${comment.account.nickname}|}" role="dialog" >
                                                    <svg th:if="${#strings.isEmpty(comment?.account?.profileImage)}" class="rounded-circle border bg-light"
                                                         th:data-jdenticon-value="${comment.account.nickname}" width="25" height="25"></svg>
                                                    <img th:if="${!#strings.isEmpty(comment?.account?.profileImage)}" class="rounded-circle border"
                                                         th:src="${comment.account.profileImage}" width="25" height="25" />
                                                </a>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <div style="width: 100%;">
                                                    <a th:href="@{|/profile/@${comment.account.nickname}|}" role="dialog" >
                                                        <strong>
                                                            <p class="mx-1" th:text="|${comment.account.nickname}|" style="display: inline;"></p>
                                                        </strong>
                                                    </a>
                                                    <p style="display: inline;" class="mt-1 mb-1" th:text="${comment.comment}"></p>
                                                </div>
                                                <div>
                                                    <small class="mt-1 mb-1 calendar" th:text="${comment.modifiedAt}"></small>&nbsp;
                                                    <small class="mt-1 mb-1 reply" style="cursor: pointer;"
                                                           th:commentId="${comment.id}" th:postId="${post.id}">답글 달기</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-3" aria-hidden="true" id="rereply">
        <form class="needs-validation" th:action="@{/post/comment/reply}" method="post" action="#" novalidate>
            <div class="form-group" >
                <textarea  class="form-control" rows="4" name="commentReply"
                          placeholder="1000자 이내로 답글 작성" aria-describedby="commentHelp" maxlength="1000" required></textarea>
<!--                <input type="hidden" th:field="*{postId}" th:value="${post.id}">-->
<!--                <input type="hidden" th:field="*{postId}" th:value="${post.id}">-->
            </div>
            <div id="textareaReply">

            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block mt-2" style="border: none;" type="submit" aria-describedby="submitHelp">
                    답글 작성
                </button>
            </div>
        </form>
    </div>


    <script th:replace="fragments.html :: script-fragment"></script>
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function () {
            moment.locale('ko');
            $(".date-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
            });
            $(".date").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL');
            });
            $(".weekday").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('dddd');
            });
            $(".time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LT');
            });
            $(".calendar").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").calendar();
            });
            $(".fromNow").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
            });
            $(".date-weekday-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
            });
        })
    </script>
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
    <script type="application/javascript">
    $(document).ready(function() {

        const likeDivs = $('.like-div');
        likeDivs.hide();

        likeDivs.each( function(index, value, count) {
          if($(this).attr('likecheck') === 'false') {
                $(this).show();
                $(this).children().first().hide();
                $(this).children().last().show();
          } else if($(this).attr('likecheck') === 'true') {
                $(this).show();
                $(this).children().last().hide();
                $(this).children().first().show();
          }
        });

        const like = 'like';
        const dislike = 'dislike';

        $('.post-like').click(handlePostLikeDislike)

        $('.post-dislike').click(handlePostLikeDislike)

        function handlePostLikeDislike (e) {
            const id = e.currentTarget.id;

            if(id.startsWith('like')) {
                const postId = id.replace(like, '');
                likeDislikeRequest(like, postId);
            } else if(id.startsWith('dislike')){
                const postId = id.replace(dislike, '');
                likeDislikeRequest(dislike, postId);
            }
        }

        function likeDislikeRequest(url, postId) {
            $.ajax({
                dataType: "json",
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/post/" + url,
                data: JSON.stringify({'postId': postId}),
                success: function(data) {
                    if(url === like){
                        $('#likeDiv'+postId).hide();
                        $('#dislikeCount'+postId).html(data);
                        $('#dislikeDiv'+postId).show();
                    } else {
                        $('#dislikeDiv'+postId).hide();
                        $('#likeCount'+postId).html(data);
                        $('#likeDiv'+postId).show();
                    }
                },
                fail: function () {
                    console.log('fail');
                }
            });
         };

    });
    </script>

    <script type="application/javascript">
        $(function () {
            'use strict';

            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false)
                })
            }, false)
        })
    </script>
    <script type="application/javascript">
        $(function () {
            $('.reply').click(handleReply);

            const reply = document.querySelector('#rereply');

            function handleReply (e) {
                const text = $('#textareaReply');
                text.empty();

                const input1 = document.createElement('input');
                input1.setAttribute('type', 'hidden');
                input1.setAttribute('name', 'postId');
                input1.setAttribute('value', $(this).attr('postId'));

                const input2 = document.createElement('input');
                input2.setAttribute('type', 'hidden');
                input2.setAttribute('name', 'commentId');
                input2.setAttribute('value', $(this).attr('commentId'));

                text.append(input1);
                text.append(input2);

                $(this).parent().parent().parent().parent().append(reply);
            }
        })
    </script>
</body>
</html>