<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments.html :: head-fragment">

</head>
<body>
    <nav th:replace="fragments.html :: nav-fragment"></nav>

    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-2">
                <!-- Avatar -->
                <svg th:if="${#strings.isEmpty(findAccount.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                     th:data-jdenticon-value="${findAccount.nickname}" width="150" height="150"></svg>
                <img th:if="${!#strings.isEmpty(findAccount.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                     th:src="${findAccount.profileImage}"
                     width="150" height="150"/>
            </div>
            <div class="col-8">
                <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                    <span th:text="${message}">완료</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="row my-3 d-flex px-4">
                    <h2 class="display-4 mr-auto" th:text="${findAccount.nickname}" style="font-weight: bold;">nickname</h2>
                    <div th:if="${!isOwner}" class="align-self-center"  th:with="findAccount=${findAccount}">
                        <form th:if="${!isFollowing && !isAccepted}" th:action="@{|/follow/request/profile|}" method="post">
                            <div class="form-group mb-2">
                                <input type="hidden" class="form-control" name="nickname" th:value="${findAccount.nickname}"/>
                                <button type="submit" class="btn btn-outline-primary mb-2">
                                    <i class="fa fa-plus" aria-hidden="true"></i> 팔로우 신청
                                </button>
                            </div>
                        </form>
                        <form th:if="${isFollowing && !isAccepted}" th:action="@{|/follow/request/cancel/profile|}" method="post">
                            <div class="form-group mb-2">
                                <input type="hidden" class="form-control" name="nickname" th:value="${findAccount.nickname}"/>
                                <button type="submit" class="btn btn-outline-warning mb-2">
                                    <i class="fa fa-plus" aria-hidden="true"></i> 팔로우 신청 취소
                                </button>
                            </div>
                        </form>
                        <form th:if="${isFollowing && isAccepted}" th:action="@{|/follow/cancel/profile|}" method="post">
                            <div class="form-group mb-2">
                                <input type="hidden" class="form-control" name="nickname" th:value="${findAccount.nickname}"/>
                                <button type="submit" class="btn btn-outline-danger mb-2">
                                    <i class="fa fa-plus" aria-hidden="true"></i> 팔로우 끊기
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mt-3 lead text-truncate">
                    <pre th:if="${!#strings.isEmpty(findAccount.bio)}" style="font-size: 1rem;"
                         th:text="${findAccount.bio}">bio</pre>
                    <p class="lead" th:if="${#strings.isEmpty(findAccount.bio) && isOwner}">
                        <a href="#" th:href="@{/settings/profile}">한 줄 소개를 추가하세요.</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-3 justify-content-center">
            <div class="col-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a th:if="${isOwner}" class="nav-link" th:classappend="${isOwner} ? 'active'" id="v-pills-intro-tab" data-toggle="pill" href="#v-pills-profile"
                       role="tab" aria-controls="v-pills-profile" aria-selected="true" th:aria-selected="${isOwner}">프로필</a>
                    <a class="nav-link" id="v-pills-follower-tab" th:classappend="${!isOwner} ? 'active'" data-toggle="pill" href="#v-pills-follower"
                       role="tab" aria-controls="v-pills-posting" aria-selected="false" th:aria-selected="${!isOwner}">Follower</a>
                    <a class="nav-link" id="v-pills-following-tab" data-toggle="pill" href="#v-pills-following"
                       role="tab" aria-controls="v-pills-posting" aria-selected="false">Following</a>
                    <a class="nav-link" id="v-pills-posting-tab" data-toggle="pill" href="#v-pills-posting"
                       role="tab" aria-controls="v-pills-posting" aria-selected="false">포스팅</a>
                </div>
            </div>

            <div class="col-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade" th:classappend="${isOwner} ? 'active show'" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <p th:if="${isOwner}">
                            <span style="font-size: 1.875rem;">
                                <i class="fa fa-envelope-o col-1"></i>
                            </span>
                            <span th:text="${account.email}" class="col-9"></span>
                        </p>
                        <p th:if="${isOwner || account.emailVerified}">
                            <span style="font-size: 1.875rem;">
                                <i class="fa fa-calendar-o col-1"></i>
                            </span>
                            <span th:if="${isOwner && !account.emailVerified}" class="col-9">
                                <a href="#" th:href="@{'/check-email'}">가입을 완료하려면 이메일을 확인하세요.</a>
                            </span>
                            <span th:text="${#temporals.format(account.joinedAt, 'yyyy년 M월 dd일 가입')}" class="col-9"></span>
                        </p>
                        <div th:if="${isOwner}">
                            <a class="btn btn-outline-primary" href="#" th:href="@{/settings/profile}">계정 정보 관리</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" th:classappend="${!isOwner} ? 'active show'" id="v-pills-follower" role="tabpanel" aria-labelledby="v-pills-follower-tab">
                        <div class="row-sm-12">
                            <div class="row">
                                <div th:if="${#lists.isEmpty(followers)}">
                                    <p>팔로워 계정이 없습니다.</p>
                                </div>
                                <div class="col-md-2" th:each="follower: ${followers}">
                                    <a class="card shadow-sm pt-3" th:href="@{|/profile/@${follower.nickname}|}" >
                                        <svg th:if="${#strings.isEmpty(follower.profileImage)}" class="img-fluid mx-auto rounded img-thumbnail"
                                             th:data-jdenticon-value="${follower.nickname}" width="100" height="100"></svg>
                                        <img th:if="${!#strings.isEmpty(follower.profileImage)}" class="img-fluid mx-auto rounded img-thumbnail"
                                             th:src="${follower.profileImage}" width="100" height="100"/>
                                        <div class="card-title text-center" >
                                            <h5 class="mt-1 mb-1" th:text="${follower.nickname}"></h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-following" role="tabpanel" aria-labelledby="v-pills-following-tab">
                        <div class="row-sm-12">
                            <div class="row">
                                <div th:if="${#lists.isEmpty(following)}">
                                    <p>팔로잉 계정이 없습니다.</p>
                                </div>
                                <div class="col-md-2" th:each="follow: ${following}">
                                    <a class="card shadow-sm pt-3" th:href="@{|/profile/@${follow.nickname}|}">
                                        <svg th:if="${#strings.isEmpty(follow.profileImage)}" class="img-fluid mx-auto rounded img-thumbnail"
                                             th:data-jdenticon-value="${follow.nickname}" width="100" height="100"></svg>
                                        <img th:if="${!#strings.isEmpty(follow.profileImage)}" class="img-fluid mx-auto rounded img-thumbnail"
                                             th:src="${follow.profileImage}" width="100" height="100"/>
                                        <div class="card-title text-center" >
                                            <h5 class="mt-1 mb-1" th:text="${follow.nickname}"></h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-posting" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="row-sm-12">
                            <div class="row">
                                <div th:if="${#lists.isEmpty(postList)}">
                                    <p>포스팅이 없습니다.</p>
                                </div>
                                <div class="col-md-3" th:each="post: ${postList}">
                                    <a class="card shadow-sm" th:href="@{|/post/${post.id}|}" >
                                        <img th:if="${!#strings.isEmpty(post.postImage)}" class="img-fluid mx-auto rounded img-thumbnail"
                                             th:src="${post.postImage}" width="100%"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="fragments.html :: script-fragment"></script>

</body>
</html>