<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head-fragment"></head>
<body>
    <nav th:replace="fragments.html :: nav-fragment"></nav>

    <div class="container">
        <div class="py-5 text-center">
            <h2>The Social 회원가입</h2>
        </div>
        <div class="row justify-content-center">
            <form class="needs-validation col-sm-6" action="#"
                  th:action="@{/sign-up}" th:object="${signUpForm}" method="post">
                <div class="form-group">
                    <label for="nickname">닉네임</label>
                    <input id="nickname" type="text" th:field="*{nickname}" class="form-control"
                           placeholder="닉네임을 입력하세요." aria-describedby="nicknameHelp" autocomplete="username"
                           required minlength="5" maxlength="20">
                    <small id="nicknameHelp" class="form-text text-muted">
                        한글, 영어, 숫자만 가능합니다. 5-20자로 입력해주세요.
                    </small>
                    <small class="invalid-feedback">닉네임을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input id="email" type="email" th:field="*{email}" class="form-control"
                           placeholder="youremail@email.com" aria-describedby="emailHelp" required autocomplete="email">
                    <small id="emailHelp" class="form-text text-muted">
                        실제 사용하는 이메일을 등록해주세요. 등록된 이메일은 비공개됩니다.
                    </small>
                    <small class="invalid-feedback">이메일을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input id="password" type="password" th:field="*{password}" class="form-control" placeholder="password"
                           aria-describedby="passwordHelp" required minlength="8" maxlength="40" autocomplete="off">
                    <span id="passwordShowAndHide">보이기</span>
                    <small id="passwordHelp" class="form-text text-muted">
                        보안 등급을 확인해주세요. 문자, 숫자, 특수문자가 허용됩니다. 8 - 40자 이내로 작성해주세요.
                    </small>
                    <small class="invalid-feedback">비밀번호를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                </div>
                <div class="form-group d-grid gap-2">
                    <button class="btn btn-primary btn-block" type="submit"
                            aria-describedby="submitHelp">가입하기</button>
                    <small id="submitHelp" class="form-text text-muted">
                        <a href="#">약관</a>을 읽고 가입해 주세요.
                    </small>
                </div>
            </form>
        </div>
    </div>

    <script th:replace="fragments.html :: script-fragment"></script>
    <script type="application/javascript">
        $(function () {
            $("#passwordShowAndHide").on("click", function() {
              if ($("#password").attr("type") == "password") {
                $("#password").attr("type", "text");
                $($(this)).text("감추기");
              } else {
                $("#password").attr("type", "password");
                $($(this)).text("보이기");
              }
              $("#password").focus();
            });


            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false)
                })
            }, false)
        })


    </script>

</body>
</html>