<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head-fragment"></head>
<body>
    <nav th:replace="fragments.html :: nav-fragment"></nav>
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}">
        The Social 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a> 하세요.
    </div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" th:each="post: ${postList}">
                        <div class="card my-3 shadow-md">
                            <div class="card-header d-flex align-items-center">
                                <svg th:if="${#strings.isEmpty(post?.account?.profileImage)}" class="rounded border bg-light"
                                     th:data-jdenticon-value="${post.account.nickname}" width="30" height="30"></svg>
                                <img th:if="${!#strings.isEmpty(post?.account?.profileImage)}" class="rounded border"
                                     th:src="${post.account.profileImage}" width="30" height="30" />
                                <a th:href="@{|/profile/@${post.account.nickname}|}" role="dialog" >
                                    <h4 class="mx-3" th:text="|@${post.account.nickname}|"></h4>
                                </a>
                                <small class="date-weekday-time text-muted ml-auto" th:text="${post.modifiedAt}">3 days ago</small>
                            </div>

                            <div class="card-body">
                                <div th:id="|postImageIndicator${post.id}|" class="carousel slide text-center" data-ride="carousel" data-interval="0">
                                    <ol class="carousel-indicators" th:if="${!#strings.isEmpty(post?.postImage2)}">
                                        <li th:if="${!#strings.isEmpty(post?.postImage1)}" th:data-target="|#postImageIndicator${post.id}|" data-target="#postImageIndicator" data-slide-to="0" class="active"></li>
                                        <li th:if="${!#strings.isEmpty(post?.postImage2)}" th:data-target="|#postImageIndicator${post.id}|" data-target="#postImageIndicator" data-slide-to="1"></li>
                                        <li th:if="${!#strings.isEmpty(post?.postImage3)}" th:data-target="|#postImageIndicator${post.id}|" data-target="#postImageIndicator" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner" th:if="${!#strings.isEmpty(post?.postImage1)}">
                                        <div class="carousel-item active" >
                                            <img class="rounded border" th:src="${post.postImage1}" width="80%" height="80%" alt="" src=""/>
                                        </div>
                                        <div class="carousel-item" th:if="${!#strings.isEmpty(post?.postImage2)}">
                                            <img class="rounded border" th:src="${post.postImage2}" width="80%" height="80%"  alt="" src=""/>
                                        </div>
                                        <div class="carousel-item" th:if="${!#strings.isEmpty(post?.postImage3)}">
                                            <img class="rounded border" th:src="${post.postImage3}" width="80%" height="80%"  alt="" src=""/>
                                        </div>
                                    </div>
                                    <a th:if="${!#strings.isEmpty(post?.postImage2)}" class="carousel-control-prev" style="color: black; width: 7%; font-weight: bold;" th:href="|#postImageIndicator${post.id}|" href="#postImageIndicator" role="button" data-slide="prev">
                                        <span aria-hidden="true" style="font-size: 1.875rem;">
                                            <i class="bi bi-chevron-double-left"></i>
                                        </span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a th:if="${!#strings.isEmpty(post?.postImage2)}" class="carousel-control-next" style="color: black; width: 7%; font-weight: bold;" th:href="|#postImageIndicator${post.id}|" role="button" data-slide="next">
                                        <span aria-hidden="true" style="font-size: 1.875rem;">
                                            <i class="bi bi-chevron-double-right"></i>
                                        </span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <hr />
                                <div>
                                    <div th:if="${!#strings.isEmpty(post?.context) && #strings.length(post.context) > 100}" class="text-truncate px-2">
                                        <pre class="text-justify" th:text="${#strings.abbreviate(post.context, 100)}" style="font-size: 1.125rem;"></pre>
                                        <span>⬇ 본문을 끝까지 보시려면 <a th:href="@{|/post/${post.id}|}">더보기</a>를 눌러주세요</span>
                                    </div>
                                    <div th:if="${!#strings.isEmpty(post?.context) && #strings.length(post.context) < 100}" class="text-truncate px-2">
                                        <pre class="text-justify" th:text="${post.context}" style="font-size: 1.125rem;"></pre>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <h5>
                                        <span th:each="interest: ${post.interest}" class="font-weight-light text-monospace badge badge-primary mr-3">
                                            <a th:href="@{'#'}" class="text-decoration-none text-white">
                                                <i class="fa fa-thumbs-up"></i> <span th:text="${interest.interest}">interest</span>
                                            </a>
                                        </span>
                                        <span th:each="tag: ${post.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                                            <a th:href="@{'#'}" class="text-decoration-none text-white">
                                                <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                                            </a>
                                        </span>
                                    </h5>
                                </div>
                            </div>

                            <div class="card-footer d-flex align-items-center" >
                                <a th:href="@{|/post/${post.id}|}" class="mr-auto btn btn-outline-primary" style="border: none;">
                                    <span th:text="더보기">더보기</span>
                                </a>

                                <div class="mx-2 like-div" th:likecheck="${post.isLike(#authentication.principal)}">
                                    <div th:id="|dislikeDiv${post.id}|">
                                        <a href="javascript:void(0);" style="cursor:pointer; border: none;" class="post-like btn btn-outline-danger" th:id="|dislike${post.id}|">
                                             <i class="fa fa-heart"></i> <span class="like-count" th:id="|dislikeCount${post.id}|" th:text="${post.likeCount}"></span>
                                        </a>
                                    </div>
                                    <div th:id="|likeDiv${post.id}|">
                                        <a href="javascript:void(0);" style="cursor:pointer; border: none;" class="post-dislike btn btn-outline-danger" th:id="|like${post.id}|">
                                            <i class="fa fa-heart-o"></i> <span class="like-count" th:id="|likeCount${post.id}|" th:text="${post.likeCount}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>


    <script th:replace="fragments.html :: script-fragment"></script>
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function () {
            moment.locale('ko');
            $(".date-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
            });
            $(".date").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL');
            });
            $(".weekday").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('dddd');
            });
            $(".time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LT');
            });
            $(".calendar").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").calendar();
            });
            $(".fromNow").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
            });
            $(".date-weekday-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
            });
        })
    </script>
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
    <script type="application/javascript">
    $(document).ready(function() {

        const likeDivs = $('.like-div');
        likeDivs.hide();

        likeDivs.each( function(index, value, count) {
          if($(this).attr('likecheck') === 'false') {
                $(this).show();
                $(this).children().first().hide();
                $(this).children().last().show();
          } else if($(this).attr('likecheck') === 'true') {
                $(this).show();
                $(this).children().last().hide();
                $(this).children().first().show();
          }
        });

        const like = 'like';
        const dislike = 'dislike';

        $('.post-like').click(handlePostLikeDislike)

        $('.post-dislike').click(handlePostLikeDislike)

        function handlePostLikeDislike (e) {
            const id = e.currentTarget.id;

            if(id.startsWith('like')) {
                const postId = id.replace(like, '');
                likeDislikeRequest(like, postId);
            } else if(id.startsWith('dislike')){
                const postId = id.replace(dislike, '');
                likeDislikeRequest(dislike, postId);
            }
        }

        function likeDislikeRequest(url, postId) {
            $.ajax({
                dataType: "json",
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/post/" + url,
                data: JSON.stringify({'postId': postId}),
                success: function(data) {
                    if(url === like){
                        $('#likeDiv'+postId).hide();
                        $('#dislikeCount'+postId).html(data);
                        $('#dislikeDiv'+postId).show();
                    } else {
                        $('#dislikeDiv'+postId).hide();
                        $('#likeCount'+postId).html(data);
                        $('#likeDiv'+postId).show();
                    }
                },
                fail: function () {
                    console.log('fail');
                }
            });
         };

    });
    </script>
</body>
</html>