<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head-fragment"></head>
<body>
    <nav th:replace="fragments.html :: nav-fragment"></nav>

    <section class="jumbotron text-center">
        <div class="container">
            <h1>The Social</h1>
            <p class="lead text-muted">
                관심사와 관심 유저 기반 소셜 네트워크 서비스 입니다.<br/>
                The Social 에서 다양한 사람들과 소통하고 life logging 을 해보세요!
            </p>
            <p>
                <a th:href="@{/sign-up}" class="btn btn-primary my-2">회원 가입</a>
            </p>
        </div>
    </section>

    <section class="jumbotron text-center">
        <div class="container">

        </div>
    </section>



    <script th:replace="fragments.html :: script-fragment"></script>
</body>
</html>