<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments.html :: head-fragment"></head>
<body>
    <nav th:replace="fragments.html :: nav-fragment"></nav>

    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <div th:replace="fragments.html :: settings-menu(currentMenu='notifications')"></div>
            </div>
            <div class="col-8">
                <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                    <span th:text="${message}">완료</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="row">
                    <h2 class="col-sm-12">알림 설정</h2>
                </div>
                <div class="row mt-3">
                    <form class="col-12" action="#" th:action="@{/settings/notifications}" th:object="${notificationForm}" method="post" novalidate>
                        <div class="alert alert-light" role="alert">
                            <strong><a href="#" th:href="@{/settings/follower}">Following 한 계정</a>이 포스팅을 했을 경우</strong> 알림을 설정하세요.
                        </div>
                        <div class="form-group ">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{followingAccountPostingByWeb}" class="custom-control-input" id="followingAccountPostingByWeb">
                                <label class="custom-control-label" for="followingAccountPostingByWeb">웹으로 받기</label>
                            </div>
                        </div>
                        <div class="alert alert-light" role="alert">
                            <strong><a href="#" th:href="@{/settings/user}">관심 주제로 등록 된</a> 포스팅이 등록된 경우</strong> 알림을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{interestSubjectPostingByWeb}" class="custom-control-input" id="interestSubjectPostingByWeb">
                                <label class="custom-control-label" for="interestSubjectPostingByWeb">웹으로 받기</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">저장하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="fragments.html :: script-fragment"></script>
</body>
</html>