<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments.html :: head-fragment"></head>
<body>
    <nav th:replace="fragments.html :: nav-fragment"></nav>

    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <div th:replace="fragments.html :: settings-menu(currentMenu='profile')"></div>
            </div>
            <div class="col-8">
                <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                    <span th:text="${message}">완료</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>

                <div class="row">
                    <a th:href="@{|/profile/@${profileForm.nickname}|}">
                        <h2 class="col-sm-12" th:text="${profileForm.nickname}">nickname</h2>
                    </a>
                </div>

                <div class="row mt-3">
                    <form class="col-sm-6 needs-validation" th:action="@{/settings/profile}" th:object="${profileForm}" method="post" novalidate>
                        <div class="form-group">
                            <label for="bio">소개 입력</label>
                            <textarea id="bio" th:field="*{bio}" class="form-control" rows="10" th:utext="*{bio}"
                                      placeholder="간략한 소개를 부탁합니다." aria-describedby="bioHelp" maxlength="100"></textarea>
                            <small id="bioHelp" class="form-text text-muted mt-2">
                                100자 이내로 자신을 표현해 보세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}">
                                100자 이내로 작성해 주세요.
                            </small>
                        </div>

                        <div class="form-group">
                            <input id="profileImage" type="hidden" th:field="*{profileImage}" class="form-control">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block mt-5" type="submit" aria-describedby="submitHelp">
                                수정하기
                            </button>
                        </div>
                    </form>

                    <div class="col-sm-6">
                        <div class="card text-center">
                            <div class="card-header">
                                프로필 이미지
                            </div>
                            <div id="current-profile-image" class="mt-3">
                                <svg th:if="${#strings.isEmpty(profileForm?.profileImage)}" class="rounded"
                                     th:data-jdenticon-value="${profileForm.nickname}" width="125" height="125"></svg>
                                <img th:if="${!#strings.isEmpty(profileForm?.profileImage)}" class="rounded"
                                     th:src="${profileForm.profileImage}" width="125" height="125" alt="name" th:alt="${profileForm.nickname}" />
                            </div>
                            <div id="new-profile-image" class="mt-3"></div>
                            <div class="card-body">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="profile-image-file" placeholder="프로필 이미지 변경">
                                    <label class="custom-file-label" for="profile-image-file">프로필 이미지 변경</label>
                                </div>
                                <div id="new-profile-image-control" class="mt-3">
                                    <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                                    <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
                                    <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>

                                </div>
                                <div id="cropped-new-profile-image" class="mt-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="fragments.html :: script-fragment"></script>
    <script src="/node_modules/cropper/dist/cropper.min.js"></script>
    <script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
    <script type="application/javascript">
        $(function() {
            cropper = '';
            let $confirmBtn = $("#confirm-button");
            let $resetBtn = $("#reset-button");
            let $cutBtn = $("#cut-button");
            let $currentProfileImage = $("#current-profile-image");
            let $newProfileImage = $("#new-profile-image");
            let $resultImage = $("#cropped-new-profile-image");
            let $profileImage = $("#profileImage");

            $newProfileImage.hide();
            $cutBtn.hide();
            $resetBtn.hide();
            $confirmBtn.hide();

            $("#profile-image-file").change(function(e) {
                if(e.target.files.length === 1) {
                    const reader = new FileReader();

                    reader.onload = e => {
                        if(e.target.result) {
                            let img = document.createElement("img");
                            img.id = 'new-profile';
                            img.src = e.target.result;
                            img.setAttribute('width', '100%');

                            $newProfileImage.html(img);
                            $newProfileImage.show();
                            $currentProfileImage.hide();

                            let $newImage = $(img);
                            $newImage.cropper({aspectRatio: 1});
                            cropper = $newImage.data("cropper");

                            $cutBtn.show();
                            $confirmBtn.hide();
                            $resetBtn.show();
                        }
                    }

                    reader.readAsDataURL(e.target.files[0]);
                }
            });

            $resetBtn.click(function () {
                $currentProfileImage.show();
                $newProfileImage.hide();
                $resultImage.hide();
                $resetBtn.hide();
                $cutBtn.hide();
                $confirmBtn.hide();
                $profileImage.val('');
            });

            $cutBtn.click(function() {
                let dataUrl = cropper.getCroppedCanvas().toDataURL();
                let newImage = document.createElement("img");

                newImage.id = "cropped-new-profile-image";
                newImage.src = dataUrl;
                newImage.width = 150;

                $resultImage.html(newImage);
                $resultImage.show();
                $confirmBtn.show();

                $confirmBtn.click(function () {
                    $newProfileImage.html(newImage);
                    $cutBtn.hide();
                    $confirmBtn.hide();
                    $profileImage.val(dataUrl);
                    $profileImage.val(dataUrl);
                })
            })
        });

    </script>
    <script type="application/javascript">
        $(function () {
            'use strict';

            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false)
                })
            }, false)
        })
    </script>

    <script type="application/javascript">
        $(document).ready(function() {

            /* 텍스트박스 자동 스크롤 기능 */

            // 입력에 따른 처리
            $('.custom-textarea').on('keyup', function (e){
                $(this).css('height', 'auto' );
                $(this).height(this.scrollHeight);
            });

            // 초기 로드시 크기 조절 처리
            $('.custom-textarea').keyup();
        }
    </script>
</body>
</html>